<nav class="navbar navbar-expand-lg navbar navbar-light text-white" fixed-bottom">
    <div class="container">
      <a class="navbar-brand text-white" href="#"><strong>QiellaRain</strong></a>
      <h4 class="text-white text-white"></h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-white" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/about">Aqilah Baharin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/portfolio">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contact">Contact</a>       
          </ul>

          <form class="form-inline my-2 my-lg-0">
            <a href="/admin/login" button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            <div class="btn-group" role="group"></div>
                <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">Dashboard</a>
                  <a class="dropdown-item" href="#">Logout</a>
                </div>
              </div>
            </div>  
          </form>      
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>