
<%- include("partials/header") %>;

<title>About:Aqilah Baharin</title>
</head>
<body>
  <!-- Navigation -->
  <%- include("partials/nav") %>;

<!-- Page Content -->
<section>
  <div class="container">
      <div class="row align-items-center vertical-center">
              <div class="col text-center>
                aaaa
             <div class="col text-center ">
                <h3 class-"about-text">
                  Hi, I am
                </h3>

                 <h3 class-"name">
                
                   Aqilah
                  </h3> 
                
                <h3 class-"about-text">
                  A programmer
                </h3>
              </div>
            </div>
      </div>
    </section>
  
    <%- include("partials/scripts") %>;
</html>